:root {
  --radius: 6px;
  --text: #5A5A5A;
  --color-gray-lighter: #f8f8f8;
  --color-gray-light: #efefef;
  --color-gray: #bdbcbc;
  --color-gray-dark: #5A5A5A;
  --color-primary: #FF6B6B;
  --color-secondary: #b4b4b4;
  --color-tertiary: #D4FFF1;
  --speed: .4s;
  --easing: ease-in-out;
}

* {
  box-sizing: border-box;
}

@media all and (min-width: 720px) {
  .mobile {
    display: none !important;
  }
}

@media all and (max-width: 719px) {
  .desktop {
    display: none !important;
  }
}

.ss-main {
  position: relative;
  display: inline-block;
  user-select: none;
  color: var(--black);
  width: 100%;
}
.ss-main .ss-single-selected {
  display: flex;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-gray-dark);
  background-color: white;
  outline: 0;
  box-sizing: border-box;
  transition: background-color 0.2s;
}
.ss-main .ss-single-selected.ss-disabled {
  background-color: var(--color-gray);
  cursor: not-allowed;
}
.ss-main .ss-single-selected.ss-open-above {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ss-main .ss-single-selected.ss-open-below {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ss-main .ss-single-selected .placeholder {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  width: calc(100% - 30px);
  line-height: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ss-main .ss-single-selected .placeholder * {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}
.ss-main .ss-single-selected .placeholder .ss-disabled {
  color: var(--color-gray);
}
.ss-main .ss-single-selected .ss-deselect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
  margin: 0 6px 0 6px;
  font-weight: bold;
}
.ss-main .ss-single-selected .ss-deselect.ss-hide {
  display: none;
}
.ss-main .ss-single-selected .ss-arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
  margin: 0 6px 0 6px;
}
.ss-main .ss-single-selected .ss-arrow span {
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.2s, margin 0.2s;
}
.ss-main .ss-single-selected .ss-arrow span.arrow-up {
  transform: rotate(-135deg);
  margin: 3px 0 0 0;
}
.ss-main .ss-single-selected .ss-arrow span.arrow-down {
  transform: rotate(45deg);
  margin: -3px 0 0 0;
}
.ss-main .ss-multi-selected {
  display: flex;
  min-height: 41px;
  flex-direction: row;
}
.ss-main .ss-multi-selected.ss-disabled {
  background-color: var(--color-gray);
  cursor: not-allowed;
}
.ss-main .ss-multi-selected.ss-disabled .ss-values .ss-disabled {
  color: var(--black);
}
.ss-main .ss-multi-selected.ss-disabled .ss-values .ss-value .ss-value-delete {
  cursor: not-allowed;
}
.ss-main .ss-multi-selected.ss-open-above {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 5px var(--color-primary);
}
.ss-main .ss-multi-selected.ss-open-below {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 5px var(--color-primary);
}
.ss-main .ss-multi-selected .ss-values {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 1 100%;
  padding: 4px;
  width: calc(100% - 30px);
}
.ss-main .ss-multi-selected .ss-values .ss-disabled {
  display: flex;
  padding: 4px 5px;
  font-size: 16px;
  margin: 2px 0;
  line-height: 1em;
  align-items: center;
  width: 100%;
  color: var(--color-gray);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.ss-main .ss-multi-selected .ss-values .ss-value {
  display: flex;
  user-select: none;
  align-items: center;
  font-size: 12px;
  padding: 3px 6px;
  margin: 3px 5px 3px 0;
  color: var(--text);
  background-color: var(--color-primary);
  border-radius: var(--radius);
  animation-name: scaleIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete {
  margin: 0 0 0 5px;
  cursor: pointer;
}
.ss-main .ss-multi-selected .ss-add {
  display: flex;
  flex: 0 1 3px;
  align-items: center;
  margin-right: 10px;
}
.ss-main .ss-multi-selected .ss-add .ss-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  position: relative;
  height: 10px;
  width: 2px;
  transition: transform 0.2s;
}
.ss-main .ss-multi-selected .ss-add .ss-plus:after {
  background: var(--black);
  content: "";
  position: absolute;
  height: 2px;
  width: 10px;
  left: -4px;
  top: 4px;
}
.ss-main .ss-multi-selected .ss-add .ss-plus.ss-cross {
  transform: rotate(45deg);
}

.ss-content {
  position: absolute;
  width: 100%;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  border: solid 1px var(--color-gray-dark);
  z-index: 1010;
  background-color: white;
  transform-origin: center top;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  transform: scaleY(0);
}
.ss-content.ss-open {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}
.ss-content .ss-search {
  display: flex;
  flex-direction: row;
}
.ss-content .ss-search.ss-hide {
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
}
.ss-content .ss-search.ss-hide input {
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
}
.ss-content .ss-search input {
  display: inline-flex;
  font-size: inherit;
  line-height: inherit;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
  height: 30px;
  padding: 6px 8px;
  margin: 0;
  border: none;
  background-color: white;
  outline: 0;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: textfield;
}
.ss-content .ss-search input:focus {
  box-shadow: none;
}
.ss-content .ss-search input::placeholder {
  vertical-align: middle;
}
.ss-content .ss-search .ss-addable {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  flex: 0 0 30px;
  height: 30px;
  margin: 0 0 0 8px;
  border: 1px solid var(--color-gray);
  border-radius: var(--radius);
  box-sizing: border-box;
}
.ss-content .ss-addable {
  padding-top: 0;
}
.ss-content .ss-list {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}
.ss-content .ss-list .ss-optgroup .ss-optgroup-label {
  padding: 6px 10px 6px 10px;
  font-weight: bold;
}
.ss-content .ss-list .ss-optgroup .ss-option {
  padding: 6px 6px 6px 25px;
}
.ss-content .ss-list .ss-optgroup-label-selectable {
  cursor: pointer;
}
.ss-content .ss-list .ss-optgroup-label-selectable:hover {
  color: var(--text);
  background-color: var(--color-primary);
}
.ss-content .ss-list .ss-option {
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  user-select: none;
}
.ss-content .ss-list .ss-option * {
  display: inline-block;
}
.ss-content .ss-list .ss-option:hover, .ss-content .ss-list .ss-option.ss-highlighted {
  color: var(--text);
  background-color: var(--color-primary);
}
.ss-content .ss-list .ss-option.ss-disabled {
  cursor: not-allowed;
  color: var(--color-gray);
  background-color: white;
}
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-option-selected {
  color: var(--text);
  background-color: rgba(var(--color-primary), 0.1);
}
.ss-content .ss-list .ss-option.ss-hide {
  display: none;
}
.ss-content .ss-list .ss-option .ss-search-highlight {
  background-color: var(--color-primary);
}

.teaser {
  position: relative;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--text);
}
.teaser .image {
  max-width: 100%;
  margin-block-end: 20px;
  border-radius: var(--radius);
}
.teaser .title {
  word-break: break-word;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.42px;
}
.teaser .sub-title {
  font-size: 14px;
  font-style: italic;
}
@media all and (min-width: 0px) {
  .teaser {
    flex: 0 0 calc((100% / 1) - ((1 - 1) * 40px / 1));
  }
}
@media all and (min-width: 280px) {
  .teaser {
    flex: 0 0 calc((100% / 2) - ((2 - 1) * 40px / 2));
  }
}
@media all and (min-width: 580px) {
  .teaser {
    flex: 0 0 calc((100% / 3) - ((3 - 1) * 40px / 3));
  }
}
@media all and (min-width: 720px) {
  .teaser {
    flex: 0 0 calc((100% / 2) - ((2 - 1) * 60px / 2));
  }
}
@media all and (min-width: 900px) {
  .teaser {
    flex: 0 0 calc((100% / 2) - ((2 - 1) * 60px / 2));
  }
}
@media all and (min-width: 1100px) {
  .teaser {
    flex: 0 0 calc((100% / 3) - ((3 - 1) * 60px / 3));
  }
}
@media all and (min-width: 1400px) {
  .teaser {
    flex: 0 0 calc((100% / 4) - ((4 - 1) * 60px / 4));
  }
}
@media all and (min-width: 1600px) {
  .teaser {
    flex: 0 0 calc((100% / 5) - ((5 - 1) * 60px / 5));
  }
}
@media all and (min-width: 1800px) {
  .teaser {
    flex: 0 0 calc((100% / 6) - ((6 - 1) * 60px / 6));
  }
}
@media all and (min-width: 2240px) {
  .teaser {
    flex: 0 0 calc((100% / 7) - ((7 - 1) * 60px / 7));
  }
}
@media all and (min-width: 2440px) {
  .teaser {
    flex: 0 0 calc((100% / 8) - ((8 - 1) * 60px / 8));
  }
}
@media all and (min-width: 720px) {
  .teaser {
    text-align: center;
  }
  .teaser .title, .teaser .sub-title {
    font-size: 16px;
  }
}

.ebook.full {
  position: relative;
}
.ebook.full .field {
  margin-block-end: 20px;
}
.ebook.full .description {
  padding-block-start: 40px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}
.ebook.full .authors.field {
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}
@media all and (min-width: 1100px) {
  .ebook.full {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 50px auto auto;
    grid-template-areas: "top top" "left header" "left center" "a center" "a right";
  }
  .ebook.full .back-to-overview {
    grid-area: top;
  }
  .ebook.full .book-header {
    grid-area: header;
  }
  .ebook.full .description {
    padding-top: 0;
    grid-area: center;
  }
  .ebook.full .cover-and-download-wrapper {
    grid-area: left;
    margin-block-start: 40px;
  }
  .ebook.full .authors.field {
    grid-area: right;
  }
}
@media all and (min-width: 1500px) {
  .ebook.full {
    display: grid;
    grid-template-columns: 400px auto 360px;
    grid-template-rows: 50px auto auto 1fr;
    grid-template-areas: "top top top" "left header header" "left center right" "a center right";
  }
}

.video.full {
  padding: 0 60px;
}
.video.full .video-wrapper {
  max-width: 1000px;
}

.video.teaser {
  color: var(--text);
  text-decoration: none;
}
.video.teaser .title {
  margin: 10px 0;
  font-size: 16px;
}
.video.teaser .cover-wrapper {
  max-width: 100%;
  padding-bottom: 55%;
  width: 100%;
  position: relative;
}
.video.teaser .cover {
  object-fit: cover;
  object-position: center;
  top: 0;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
}
.video.teaser .progress {
  height: 6px;
  background: var(--color-primary);
}
@media all and (min-width: 0px) {
  .video.teaser {
    flex: 0 0 calc((100% / 1) - ((1 - 1) * 20px / 1));
  }
}
@media all and (min-width: 280px) {
  .video.teaser {
    flex: 0 0 calc((100% / 2) - ((2 - 1) * 20px / 2));
  }
}
@media all and (min-width: 970px) {
  .video.teaser {
    flex: 0 0 calc((100% / 3) - ((3 - 1) * 60px / 3));
  }
}
@media all and (min-width: 1500px) {
  .video.teaser {
    flex: 0 0 calc((100% / 4) - ((4 - 1) * 60px / 4));
  }
}
@media all and (min-width: 1840px) {
  .video.teaser {
    flex: 0 0 calc((100% / 5) - ((5 - 1) * 60px / 5));
  }
}
@media all and (min-width: 2240px) {
  .video.teaser {
    flex: 0 0 calc((100% / 6) - ((6 - 1) * 60px / 6));
  }
}
@media all and (min-width: 2440px) {
  .video.teaser {
    flex: 0 0 calc((100% / 7) - ((7 - 1) * 60px / 7));
  }
}

.ebook.full .downloads {
  margin-inline-start: auto;
}
.ebook.full .downloads .file-download {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  text-decoration: none;
  grid-area: downloads;
}
.ebook.full .downloads .file-download img {
  border-radius: var(--radius);
  padding: 5px;
  width: 32px;
  height: 32px;
  fill: var(--color-gray-dark);
}
.ebook.full .downloads .file-download span {
  color: var(--color-gray-dark);
  font-size: 12px;
}
.ebook.full .downloads .pdf img {
  background: var(--color-secondary);
}
.ebook.full .downloads .epub img {
  background: var(--color-tertiary);
}

.ebook.full .cover-and-download-wrapper {
  display: grid;
  margin-inline-start: 20px;
  width: calc(100% - 40px);
  gap: 10px;
  position: relative;
  grid-template-columns: auto 75px;
  grid-template-rows: 60px auto;
  grid-template-areas: "cover downloads" "cover backcover";
}
.ebook.full .cover-and-download-wrapper .cover.front[cover=front],
.ebook.full .cover-and-download-wrapper .cover.back[cover=back] {
  object-fit: contain;
  object-position: left top;
  width: 100%;
  display: block;
  grid-area: cover;
}
.ebook.full .cover-and-download-wrapper .cover.back[cover=front],
.ebook.full .cover-and-download-wrapper .cover.front[cover=back] {
  cursor: pointer;
  display: block;
  z-index: 1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  grid-area: backcover;
  position: absolute;
  min-height: 60%;
  height: 60%;
  right: 0;
  min-width: 100px;
  top: calc(30%);
}

[dir=rtl] .ebook.full > .cover-and-download-wrapper .cover.back[cover=front],
[dir=rtl] .ebook.full > .cover-and-download-wrapper .cover.front[cover=back] {
  right: auto;
  left: 0;
}

@media all and (min-width: 1100px) {
  .ebook.full > .cover-and-download-wrapper {
    margin-block-end: auto;
    position: sticky;
    top: 175px;
  }
}
.ebook.full .language .value,
.ebook.full .other-languages .value {
  padding: 2px 4px;
  line-height: 1;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  background: var(--color-secondary);
  color: white;
  display: inline-block;
  border: 1px solid var(--color-secondary);
  margin-inline-end: 4px;
  margin-block-end: 4px;
}
.ebook.full .language .value.other,
.ebook.full .other-languages .value.other {
  background: none;
  color: var(--color-gray-dark);
  border: 1px solid var(--color-gray-dark);
}

.ebook.full .authors {
  grid-area: right;
}
.ebook.full .author-info {
  background-color: var(--color-gray-lighter);
  border-radius: var(--radius);
  padding: 10px;
  font-size: 16px;
}
.ebook.full .author-info p {
  margin: 0;
}
.ebook.full .author-info .image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  background: white;
  float: inline-start;
  margin-inline-end: 10px;
}
.ebook.full .author-info a {
  padding: 5px;
  text-decoration: none;
  border-radius: var(--radius);
  display: inline-block;
  color: var(--color-gray-dark);
  background: var(--color-gray-light);
}
.ebook.full .author-info .button + .button {
  margin-block-start: 10px;
}
@media all and (min-width: 1500px) {
  .ebook.full > .authors {
    position: sticky;
    top: 175px;
    margin-bottom: auto;
  }
}

.ebook.full .book-header {
  background: white;
  display: flex;
  padding: 0 40px;
  flex-direction: column;
}
.ebook.full .book-header > .title {
  font-size: 22px;
  margin-block-end: 0;
}
.ebook.full .book-header .authors {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.ebook.full .description {
  grid-area: left;
}
.ebook.full .description p {
  line-height: 28px;
  margin-block-start: 0;
  margin-block-end: 30px;
}
@media all and (min-width: 1100px) {
  .ebook.full .description {
    grid-area: center;
  }
}

.list {
  padding-left: 15px;
  list-style: none;
  margin: 0;
}

.list-item {
  cursor: pointer;
  line-height: 24px;
}
.list-item.active {
  font-weight: bold;
  color: var(--color-primary);
}

.sidebar.filters {
  grid-area: sidebar;
  position: sticky;
  z-index: 35;
  background: white;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  transition: transform var(--speed) var(--easing), opacity 0s var(--easing) var(--speed);
  transform: translateY(-100%);
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.sidebar.filters .close {
  border: none;
  appearance: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  align-self: end;
  z-index: 2;
  background: none;
}
.sidebar.filters .inner {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.sidebar.filters .inner > .title {
  margin: 0;
  padding-top: 40px;
  display: flex;
  top: 0;
  background: white;
  position: sticky;
  justify-content: space-between;
}
.sidebar.filters .filter {
  flex: 1 1 auto;
  margin-bottom: 20px;
}
.sidebar.filters .filter > .title {
  margin: 10px 0;
}
.sidebar.filters .filter input, .sidebar.filters .filter select {
  width: 100%;
}
@media all and (min-width: 720px) {
  .sidebar.filters {
    top: 0;
    display: block;
    padding: 10px 60px 20px 40px;
    top: 137px;
    margin-bottom: auto;
    height: auto;
    overflow: visible;
    opacity: 1;
    width: auto;
    position: sticky;
    pointer-events: all;
    transform: translateY(0);
    border: none;
  }
  .sidebar.filters .close {
    display: none;
  }
}

@media all and (max-width: 719px) {
  [data-show-panel=filters] .sidebar.filters {
    opacity: 1;
    transition: transform var(--speed) var(--easing), opacity 0s var(--easing) 0s;
    pointer-events: all;
    transform: translateY(0);
  }
}
.site-header {
  position: sticky;
  top: 0;
  z-index: 26;
  display: flex;
  background: white;
  align-items: center;
  border-block-end: 1px solid var(--text);
  grid-area: header;
}
.site-header a {
  display: block;
}
@media all and (min-width: 720px) {
  .site-header {
    position: sticky;
    border: none;
    top: 0;
  }
}

.content-top {
  z-index: 25;
  width: 100%;
  position: fixed;
  top: 50px;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-gray-dark);
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: transform var(--speed) var(--easing), opacity 0s var(--easing) var(--speed);
  transform: translateY(-100%);
}
@media all and (min-width: 720px) {
  .content-top {
    padding: 20px 40px;
    position: sticky;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    flex-direction: row;
    top: 0;
    z-index: 6;
    flex-wrap: wrap;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}

[data-show-panel=menu] .content-top {
  opacity: 1;
  transition: transform var(--speed) var(--easing), opacity 0s var(--easing) 0s;
  pointer-events: all;
  transform: translateY(0);
}

.site-logo-link {
  display: block;
  height: 60px;
  flex: 0 0 auto;
  margin-inline-end: 20px;
}
.site-logo-link .site-logo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
@media all and (min-width: 720px) {
  .site-logo-link {
    width: 100px;
    height: auto;
  }
}

input {
  padding: 10px;
  font-size: 16px;
}

input, select {
  border: 1px solid var(--color-gray-dark);
  appearance: none;
  outline: none;
}
input:focus, select:focus {
  box-shadow: 0 0 5px var(--color-primary);
}
input::placeholder, select::placeholder {
  color: var(--color-gray);
  opacity: 1;
  font-size: 16px;
}

select {
  padding: 10px;
}

select, .ss-multi-selected {
  appearance: none;
  border: 1px solid var(--color-gray-dark);
  cursor: pointer;
  background: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="gray" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: calc(100% - 10px) center;
  padding-inline-end: 30px;
}
select:focus, .ss-multi-selected:focus {
  box-shadow: 0 0 5px var(--color-primary);
}

[dir=rtl] select, [dir=rtl] .ss-multi-selected {
  background-position: 10px center;
}

select option {
  padding: 10px;
  line-height: 30px;
  background-color: white;
}

.site-language-picker-wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}

.site-language-picker {
  flex: 1 1 auto;
}

.site-language-picker-icon {
  width: 20px;
}

@media all and (min-width: 720px) {
  .site-language-picker-wrapper {
    width: auto;
  }
}
.site-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
  transform: translateY(2px);
}
@media all and (min-width: 720px) {
  .site-title {
    text-align: start;
    padding: 40px 60px 20px;
    font-size: 50px;
    line-height: 67px;
    font-size: 30px;
    line-height: 37px;
  }
  .site-title span {
    display: inline;
  }
}

.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-menu .menu-link {
  color: var(--color-gray-dark);
  font-size: 16px;
  text-decoration: none;
}
.main-menu .menu-link.active {
  font-weight: bold;
}

.responsive-video {
  background: black;
  width: 100%;
  padding-bottom: 57%;
  position: relative;
  margin-bottom: 30px;
}
.responsive-video video,
.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back-to-overview {
  text-transform: uppercase;
  color: var(--text);
  text-decoration: none;
  position: relative;
  font-size: 14px;
  display: flex;
  padding: 10px 20px;
  display: flex;
  border-bottom: 1px solid var(--color-gray-dark);
  align-items: center;
  position: sticky;
  top: 61px;
  z-index: 4;
  background: white;
  font-size: 12px;
}
.back-to-overview > .triangle {
  font-size: 10px;
  margin-inline-end: 10px;
  transform: translateY(-2px);
}

[dir=rtl] .back-to-overview > .triangle {
  left: auto;
  right: -30px;
  transform: scaleX(-1);
}

@media all and (min-width: 720px) {
  .back-to-overview {
    top: 82px;
  }
}
[dir=rtl] .woot-widget-bubble.woot-elements--right,
[dir=rtl] .woot-widget-holder.woot-elements--right {
  right: auto;
  left: 20px;
}
[dir=rtl] .woot-widget-bubble img {
  transform: scaleX(-1);
}

.toggle-menu {
  position: relative;
  width: 70px;
  padding: 14px 20px;
  display: block;
  border: 0;
  border-radius: none;
  appearance: none;
  cursor: pointer;
  background: white;
  outline: none;
}
.toggle-menu .bar {
  display: block;
  opacity: 1;
  pointer-events: none;
  transition: all var(--speed) var(--easing);
  height: 2px;
  width: 100%;
  background-color: var(--color-gray-dark);
}
.toggle-menu .bar + .bar {
  margin-block-start: 8px;
}

body:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  transition: opacity var(--speed) var(--easing);
}

[data-show-panel=menu] .toggle-menu .bar:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
[data-show-panel=menu] .toggle-menu .bar:nth-child(2) {
  opacity: 0;
}
[data-show-panel=menu] .toggle-menu .bar:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

[data-show-panel] {
  overflow: hidden;
}
[data-show-panel]:after {
  opacity: 0.5;
}

.toggle-filters {
  border: none;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  background: white;
  gap: 10px;
}
.toggle-filters img {
  margin-inline-start: -2px;
  width: 24px;
}

.page-actions {
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 60px;
  margin-top: 20px;
  padding: 0 20px;
  z-index: 2;
  background: white;
  display: flex;
}
@media all and (min-width: 720px) {
  .page-actions {
    padding: 0 60px;
  }
}

.sort-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
}
.sort-wrapper .title {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}
.sort-wrapper select {
  border: none;
  font-size: 14px;
  width: auto;
  padding: 0;
  padding-inline-end: 10px;
  background-position: calc(100%) center;
}
.sort-wrapper select:focus {
  box-shadow: none;
}
.sort-wrapper select.hidden {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

[dir=rtl] .sort-wrapper select {
  background-position: 0 center;
}

.text-page {
  max-width: 600px;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: 1.6;
  font-size: 18px;
  font-family: "LatoWeb", sans-serif;
  overflow-x: hidden;
  color: var(--text);
}

#app {
  width: 100vw;
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "header" "sidebar" "content";
}
@media all and (min-width: 720px) {
  #app {
    grid-template-columns: 300px minmax(300px, 1280px);
    grid-template-rows: auto 1fr;
    grid-template-areas: "header content" "sidebar content";
  }
}
@media all and (min-width: 1280px) {
  #app {
    grid-template-columns: 400px auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header content" "sidebar content";
  }
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
  grid-area: content;
}
.content-wrapper .content.overview {
  display: flex;
  gap: 40px;
  padding: 20px 20px;
  margin-bottom: auto;
  flex-wrap: wrap;
}
.content-wrapper .content.overview .flex-fix {
  flex: 20;
}
@media all and (min-width: 720px) {
  .content-wrapper {
    border-inline-start: 1px solid var(--color-gray-dark);
  }
  .content-wrapper .content.overview {
    padding: 20px 60px;
    gap: 60px;
  }
}

/* Webfont: Lato-Black */
@font-face {
  font-family: "LatoWebBlack";
  src: url("/fonts/Lato-Black.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Black.woff2") format("woff2"), url("/fonts/Lato-Black.woff") format("woff"), url("/fonts/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-BlackItalic */
@font-face {
  font-family: "LatoWebBlack";
  src: url("/fonts/Lato-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-BlackItalic.woff2") format("woff2"), url("/fonts/Lato-BlackItalic.woff") format("woff"), url("/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Bold */
@font-face {
  font-family: "LatoWebBold";
  src: url("/fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Bold.woff2") format("woff2"), url("/fonts/Lato-Bold.woff") format("woff"), url("/fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: "LatoWebBold";
  src: url("/fonts/Lato-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-BoldItalic.woff2") format("woff2"), url("/fonts/Lato-BoldItalic.woff") format("woff"), url("/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Hairline */
@font-face {
  font-family: "LatoWebHairline";
  src: url("/fonts/Lato-Hairline.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Hairline.woff2") format("woff2"), url("/fonts/Lato-Hairline.woff") format("woff"), url("/fonts/Lato-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-HairlineItalic */
@font-face {
  font-family: "LatoWebHairline";
  src: url("/fonts/Lato-HairlineItalic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-HairlineItalic.woff2") format("woff2"), url("/fonts/Lato-HairlineItalic.woff") format("woff"), url("/fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Heavy */
@font-face {
  font-family: "LatoWebHeavy";
  src: url("/fonts/Lato-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Heavy.woff2") format("woff2"), url("/fonts/Lato-Heavy.woff") format("woff"), url("/fonts/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-HeavyItalic */
@font-face {
  font-family: "LatoWebHeavy";
  src: url("/fonts/Lato-HeavyItalic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-HeavyItalic.woff2") format("woff2"), url("/fonts/Lato-HeavyItalic.woff") format("woff"), url("/fonts/Lato-HeavyItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Italic */
@font-face {
  font-family: "LatoWeb";
  src: url("/fonts/Lato-Italic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Italic.woff2") format("woff2"), url("/fonts/Lato-Italic.woff") format("woff"), url("/fonts/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Light */
@font-face {
  font-family: "LatoWebLight";
  src: url("/fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Light.woff2") format("woff2"), url("/fonts/Lato-Light.woff") format("woff"), url("/fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-LightItalic */
@font-face {
  font-family: "LatoWebLight";
  src: url("/fonts/Lato-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-LightItalic.woff2") format("woff2"), url("/fonts/Lato-LightItalic.woff") format("woff"), url("/fonts/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Medium */
@font-face {
  font-family: "LatoWebMedium";
  src: url("/fonts/Lato-Medium.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Medium.woff2") format("woff2"), url("/fonts/Lato-Medium.woff") format("woff"), url("/fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-MediumItalic */
@font-face {
  font-family: "LatoWebMedium";
  src: url("/fonts/Lato-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-MediumItalic.woff2") format("woff2"), url("/fonts/Lato-MediumItalic.woff") format("woff"), url("/fonts/Lato-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */
@font-face {
  font-family: "LatoWeb";
  src: url("/fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Regular.woff2") format("woff2"), url("/fonts/Lato-Regular.woff") format("woff"), url("/fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Semibold */
@font-face {
  font-family: "LatoWebSemibold";
  src: url("/fonts/Lato-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Semibold.woff2") format("woff2"), url("/fonts/Lato-Semibold.woff") format("woff"), url("/fonts/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-SemiboldItalic */
@font-face {
  font-family: "LatoWebSemibold";
  src: url("/fonts/Lato-SemiboldItalic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-SemiboldItalic.woff2") format("woff2"), url("/fonts/Lato-SemiboldItalic.woff") format("woff"), url("/fonts/Lato-SemiboldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Thin */
@font-face {
  font-family: "LatoWebThin";
  src: url("/fonts/Lato-Thin.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Thin.woff2") format("woff2"), url("/fonts/Lato-Thin.woff") format("woff"), url("/fonts/Lato-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-ThinItalic */
@font-face {
  font-family: "LatoWebThin";
  src: url("/fonts/Lato-ThinItalic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-ThinItalic.woff2") format("woff2"), url("/fonts/Lato-ThinItalic.woff") format("woff"), url("/fonts/Lato-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}