.ebook.full {
  .authors {
    grid-area: right;
  }
  
  .author-info {
    background-color: var(--color-gray-lighter);
    border-radius: var(--radius);
    padding: 10px;
    font-size: 16px;
  
    p {
      margin: 0;
    }
  
    .image {
      width: 70px;
      height: 70px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      background: white;
      float: inline-start;
      margin-inline-end: 10px;
    }
  
    a {
      padding: 5px;
      text-decoration: none;
      border-radius: var(--radius);
      display: inline-block;
      color: var(--color-gray-dark);
      background: var(--color-gray-light);
    }
  
    .button + .button {
      margin-block-start: 10px;
    }
  }

  @media all and (min-width: 1500px) {
    > .authors {
      position: sticky;
      top: 175px;
      margin-bottom: auto;  
    }
  }
}

