.sort-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;

  .title {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }  

  select {
    border: none;
    font-size: 14px;
    width: auto;
    padding: 0;
    padding-inline-end: 10px;
    background-position: calc(100%) center;

    &:focus {
      box-shadow: none;
    }
  }

  select.hidden {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}


[dir="rtl"] {
  .sort-wrapper select {
    background-position: 0 center;
  }
}